

.editBtn{
    background-color: #00000008;

    border: 1px solid transparent;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
 
 
}

.deleteBtn{
    background-color: #F504041A;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}


