.title{
    font-size: 13.40px;
    font-weight: 500;
    line-height: 13.40px;
    word-wrap: break-word;
}

.number{
    font-size: 17px;
    font-weight: 400;
    /* font-family: 'DM Sans'; */
}

.subtitle{
 font-size: 13.40px;
 font-weight: 400;
 color: var(--logo-greylogo-grey500);


}

.status{
    font-size: 13.40px;
    font-weight: 500;
    line-height: 13.40px;
    word-wrap: break-word;
    padding: 6px 7px 3px;
    border: 1px solid transparent;
    border-radius: 8.37px;
}

.arrow{
    margin-right: 130px;
}