



.mytable tr td{
    color: var(--logo-colortypap-darkcolor);
    font-size: 13px;
    word-wrap: break-word;
    text-align: center;
    font-weight: 400;
    background-color: inherit;
    /* margin-bottom: 10px; */
   
    margin-block: 20px;
    padding-block: 20px;
    width: fit-content !important;
}

.mytable thead{
    background-color:#00000008;
    /* border-radius: 16.8px; */
    /* padding-inline: 64px; */

    /* border: solid 0.7px red; */


    
}

.mytable tbody{

    /* border-radius: 16.8px; */
    padding-inline: 20px;

    /* border: solid 0.7px red; */


    
}
.mytable {
    margin-bottom: 23px;
    border:  transparent;
    border-radius: 16.8px;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0 ;
    box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 0px;
    overflow: auto;


}




.editBtn{
    color: var(--logo-greylogo-grey800) ;
    background-color: var(--logo-greylogo-grey200);
    font-size: 11px;
    font-weight: 400;
    border-radius: 3.5px;
    border: 1px solid transparent;
    padding: 5.61px 8.42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.deleteBtn{
    color: #F50404;
    background-color: var(--logo-greylogo-grey200);
    font-size: 11px;
    font-weight: 400;
    border-radius: 3.5px;
    border: 1px solid transparent;
    padding: 5.61px 8.42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options{
    /* left: 0px; */

    width: fit-content ;
    padding: 5px 8.42px;
    border-radius: 7px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 16px 10px #0000000d !important;
    position:absolute;
    left: 60px;
    top: 28.6px;
}

.mytable tr th {
    color: var(--logo-greylogo-grey800);
    font-size: 13px;
    word-wrap: break-word;
    text-align: center;
    background-color: #00000008;
    padding-block: 32px;
    width: fit-content ;
    
}