:root {
  --bg-color: rgba(248, 248, 248, 1);
  --btn-lightness: 0px 8px 24px 0px rgba(50, 139, 205, 0.6);
  --card-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  --dark-bg: rgba(0, 18, 17, 1);
  --light-effect: 0px 5px 20px 0px rgba(0, 178, 169, 0.3);
  --light-white: rgba(235, 235, 235, 1);
  --lightness-g: rgba(200, 200, 200, 0.3);
  --lightness-g2: rgba(200, 200, 200, 0.1);
  --logo-colortypap-color: rgba(0, 75, 125, 1);
  --logo-colortypap-darkcolor: rgba(0, 13, 22, 1);
  --logo-colortypap-lightnesscolor: rgba(50, 139, 205, 1);
  --logo-colortypas-color: rgba(241, 233, 65, 1);
  --logo-greylogo-grey100: rgba(253, 253, 253, 1);
  --logo-greylogo-grey1000: rgba(44, 55, 62, 1);
  --logo-greylogo-grey1100: rgba(22, 34, 42, 1);
  --logo-greylogo-grey1200: rgba(0, 13, 22, 1);
  --logo-greylogo-grey200: rgba(219, 219, 219, 1);
  --logo-greylogo-grey300: rgba(200, 200, 200, 1);
  --logo-greylogo-grey400: rgba(178, 179, 180, 1);
  --logo-greylogo-grey500: rgba(156, 158, 160, 1);
  --logo-greylogo-grey600: rgba(133, 138, 141, 1);
  --logo-greylogo-grey700: rgba(111, 117, 121, 1);
  --logo-greylogo-grey800: rgba(89, 96, 101, 1);
  --logo-greylogo-grey900: rgba(67, 75, 81, 1);
  --m-16-font-family: "NotoNaskh Arabic-Medium", Helvetica;
  --m-16-font-size: 16px;
  --m-16-font-style: normal;
  --m-16-font-weight: 500;
  --m-16-letter-spacing: 0px;
  --m-16-line-height: 100%;
  --m-20-font-family: "NotoNaskh Arabic-Medium", Helvetica;
  --m-20-font-size: 16px;
  --m-20-font-style: normal;
  --m-20-font-weight: 500;
  --m-20-letter-spacing: 0px;
  --m-20-line-height: 100%;
  --m-28-font-family: "NotoNaskh Arabic-Medium", Helvetica;
  --m-28-font-size: 28px;
  --m-28-font-style: normal;
  --m-28-font-weight: 500;
  --m-28-letter-spacing: 0px;
  --m-28-line-height: 100%;
  --primary-colorbase: rgba(0, 178, 169, 1);
  --primary-greygreyscale100: rgba(200, 200, 200, 1);
  --primary-greygreyscale1000: rgba(0, 18, 17, 1);
  --primary-greygreyscale200: rgba(229, 229, 229, 1);
  --primary-greygreyscale300: rgba(156, 160, 159, 1);
  --primary-greygreyscale400main: rgba(133, 139, 139, 1);
  --primary-greygreyscale500: rgba(111, 119, 119, 1);
  --primary-greygreyscale600: rgba(89, 99, 98, 1);
  --primary-greygreyscale700: rgba(67, 79, 78, 1);
  --primary-greygreyscale800: rgba(44, 58, 58, 1);
  --primary-greygreyscale900: rgba(22, 38, 37, 1);
  --r-14-font-family: "NotoNaskh Arabic-Regular", Helvetica;
  --r-14-font-size: 14px;
  --r-14-font-style: normal;
  --r-14-font-weight: 400;
  --r-14-letter-spacing: 0px;
  --r-14-line-height: 100%;
  --secondary-bg: rgba(0, 25, 24, 1);
  --sutz-semibold-semi-bold-40-font-family: "SukhumvitSet-SemiBold", Helvetica;
  --sutz-semibold-semi-bold-40-font-size: 40px;
  --sutz-semibold-semi-bold-40-font-style: normal;
  --sutz-semibold-semi-bold-40-font-weight: 600;
  --sutz-semibold-semi-bold-40-letter-spacing: 0.12000000476837158px;
  --sutz-semibold-semi-bold-40-line-height: 120.00000476837158%;
  --bs-nav-tabs-link-active-bg: red;
}

body{
  font-family: "Noto Naskh Arabic", Helvetica;
}

a{
  color: inherit !important;
  text-decoration: none;
}


/* classes  */

.bgNew{
  background-color: #328bcd1a;

}

.bgDoctor{
  background-color: rgba(241, 233, 65,0.2) ;
  
  /* opacity: 20%; */
}
/*  ************************************************ Home page styling ***************** */

header{
  /* background-color: var(--logo-colortypap-lightnesscolor) ; */

  background-color: var(--bg-color);
  border: 0.75px none;
}

/*? navbar  */
.search input{
  /* align-items: flex-end; */
    border: 0.75px solid;
    border-color: var(--logo-greylogo-grey500);
    border-radius: 18.03px;
    padding: 12.02px;
    width: 100%;    font-family: "Noto Naskh Arabic", Helvetica;
    font-size: 10.5px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 10.5px;

}

/* # search input */

.search , .password{
  position: relative;
}

.search img {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  padding: 12px;
  /* margin-left: 13.5px; */
}

.password img{
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  padding: 24px 8px 24px 16px;
  /* margin-left: 13.5px; */
}

.search ::placeholder{
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10.5px;
  text-align: start;
  margin-right: 13.5px;
}

nav{
    background-color: var(--logo-greylogo-grey100);
    box-shadow: 0px 3px 6.01px #0000000d;
    /* height: 78px; */
    padding: 17.3px 18px 18px 71.4px;

}

.navbar{
  padding: 17.3px 18px 18px 71.4px;
  /* margin-bottom: 1061px; */
  --bs-navbar-brand-hover-color: red;
}

/* # notification button */

.notification{
  background-color: #328bcd;
  border-radius: 21.41px;
  box-shadow: 0px 6.01px 18.03px #328bcd99;
  height: 42.82px;
  width: 42.82px;
  /* border: 0; */

}

.notification:hover{
  background-color: rgb(101, 179, 225);

}


/* # user button */

.user img{
  border-radius: 21.41px;
  height: 42.82px;
  width: 42.82px;
  /* margin-right: 26.65px; */

}



/* ? side bar */

.sidebar{
    background-color: var(--logo-colortypap-lightnesscolor) ;
    width: 13%;
    /* height: 100%; */

    
}

.sidebar li{
  color: var(--light-white);
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: -5.01px;
  padding: 12px 32px;
  margin-bottom: 2px;
}
.activeLink {
  /* color: blueviolet !important; */
  background-color: #FFFFFF1A
}



.sidebar .logoimg{
  margin-block: 25px 25px ;
  width: 50%;
  display: block;
  margin-inline: auto;

}

.sidebar .icons{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 0;
}

/* ? left section */

.leftSection{
  width: 87%;
  height: 100%;
  
  
}.mytable th{
  color: var(--logo-greylogo-grey400);
  font-size: 13px;
  word-wrap: break-word;
  text-align: center;
}

/* # card styling */

.card{
  padding: 13.87px 12px 12.5px ;
  border: 1px  ;
  box-shadow: 0px 3px 9.01px #0000001a !important;
  border-radius: 8px;
  transition: all 0.3s ease;


}

.card:hover{
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05); 
  background-color: hsla(211, 73%, 54%, 0.102);
}

.card button{
  padding: 12px;
  border-radius: 18px;

}

.card button img{
  margin-left: 8px;
}

.detailsBtn{
  color: var(--logo-colortypap-color);
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border: 0.75px solid;

}

.detailsBtn:hover{
  background-color: var(--bg-color);
  color: var(--logo-colortypap-color);
}

.detailsBtn p{
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
  margin: 0px;

}

.bookBtn{
  background-color: var(--logo-colortypap-lightnesscolor);
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 16px;
  font-weight: 500;
  /* letter-spacing: 0; */
  line-height: 16px;
  word-wrap: break-word;
  color: white;
  margin-top: 9px;
  
}

.bookBtn:hover{
  /* background-color: var(--logo-colortypap-lightnesscolor); */
  background-color: rgb(101, 179, 225);
  color:white;

}

.cardText p{
  font-family: "Noto Naskh Arabic", Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: var(--logo-greylogo-grey600);
  line-height: 14px;
  word-wrap: break-word;
  margin: 0px;
  margin-bottom: 12px;
}

.cardText .numbers {
  color: var(--logo-greylogo-grey1200);
  font-family: "Noto Naskh Arabic-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}

.icons{
  margin-bottom: 12px;
}

.date{
  margin-bottom: 28px;
}

.month{
  margin: 0;
  color: var(--primary-greygreyscale1000);
  font-family: "Noto Naskh Arabic-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}

.weekday{
  margin-bottom: 12px;
  color: var(--logo-greylogo-grey600);
  font-family: "Noto Naskh Arabic-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
}

.calender .row{
  row-gap:18.03px;
  /* max-width: 100%; */
  /* column-gap:15.02px; */
}

.detailsBtn .btnicons{
  /* width: 100%; */
  /* width: 14px; */
  max-height: 16px;

  /* display: none; */
}

/* # dates controller */
.datesControler {
  margin-block: 50px;
  margin-inline: auto;
}

.prev button, .next button{

  padding: 9px;
  border-radius: 6px;
  border: 0.75px solid var(--logo-greylogo-grey400);
  background-color: transparent;


}

.datesControler p{
  color: var(--logo-colortypap-lightnesscolor);
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  word-wrap: break-word;
  margin-block: 0;
  
}

.prev p{
  margin-right: 5.26px;
}

.next p{
  margin-left: 5.26px;
}

.currentMonth button{
  padding: 18px;
  border-radius: 18px;
  border: 0.75px solid var(--logo-greylogo-grey700);
  background-color: transparent;
  color: var(--logo-colortypap-darkcolor);
  font-size: 21.03px;
  font-weight: 500;
  word-wrap: break-word;
}


.main{
 min-height: 100vh;
 height: 100%;
}


