.signBtn {
  background-color: var(--logo-colortypap-lightnesscolor);
  border-radius: 12.5px;
  /* box-shadow: var(--btn-lightness); */
  padding: 10px 8px;
  border: 1px solid;
  color: white;
  width: 40%;
  margin-inline: auto;
}

.signBtn:hover {
  background-color: rgb(79, 163, 227) !important;
  color: white !important;
}

.newPatientGeneralBtn , .newOperationBtn {

  border-radius: 22px;
  padding: 14px 11px;
  border: 1px solid;
  color: white;
  width: 40%;
  margin-inline: auto;
  color: var(--logo-colortypap-lightnesscolor);
  background-color: transparent;
  border-color: var(--logo-colortypap-lightnesscolor);
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.newOperationBtn {
  background: rgba(50, 139, 205, 0.20);
  border-color:transparent ;
}


.newPatientGeneralBtn:hover , .newOperationBtn:hover {
  background-color: rgb(79, 163, 227) !important;
  color: white !important;
}



.addOption {
  color: white;
  color: var(--logo-colortypap-lightnesscolor); /* This line might be redundant since color is declared twice */
  background-color:transparent;
  border-color: var(--logo-colortypap-lightnesscolor);
  width: 100%; /* Takes the width of the parent minus padding and borders */
  margin-inline: 0; /* Removes any horizontal margin */
  font-size: 11px;
  box-sizing: border-box; /* Includes padding and border in the element's width */
  border-radius: 22px;
  padding: 5px 4px;
}



.arrowLeft {
  margin-right: 4px;
  /* font-size: 20px; */
}

.backBtn {
  background-color: transparent;
  border-color: var(--logo-colortypap-lightnesscolor);
  padding: 6.23px 8.31px;
  border-radius: 8.31px;
  border: 0.52px solid;
  color: var(--logo-colortypap-lightnesscolor);
  font-size: 10px;
  font-weight: 600;
}
