.signBtn{
 
    background-color: var(--logo-colortypap-lightnesscolor);
    border-radius: 12.5px;
    /* box-shadow: var(--btn-lightness); */
    padding: 10px 8px;
    border: 1px solid;
    color: white;
    margin-top: 60px;
    width: 40%;
    margin-inline: auto;
  
    
  }

  .signBtn:hover{
    background-color: rgb(79, 163, 227) !important;
    color: white !important;
  
  }
  .arrowLeft{
    margin-right: 4px;
    /* font-size: 20px; */
   }

   .backBtn{
    background-color: transparent;
    border-color: var(--logo-colortypap-lightnesscolor);
    padding: 6.23px 8.31px ;
    border-radius: 8.31px;
    border: 0.52px solid;
    color: var(--logo-colortypap-lightnesscolor);
    font-size: 10px ;
    font-weight: 600;
   }